# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
python_model/venv/
.venv/
venv/

# OS specific
.DS_Store
Thumbs.db
